* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spinner{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:999;
  background-color: rgba(0, 0, 0, 0.184);


}

.parent{
  display:flex;
}

.form-btn{
  width:150px  !important;
  margin-top:60px !important;
  margin: auto ;
 
}